<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>계산기</title>
</head>
<body>

  <h3>계산기</h3>
  <form action="/result" method="get">
    <input type="number" name="n1"> + <input type="number" name="n2">
    <input type="submit" value="결과보기">
  </form>
</body>
</html>